header div:first-child{padding: 4%; background: blue; width:35%; float: left;}
header div:nth-child(2){padding: 4%; background: green; width: 35%; float: left;}
.clear{clear : both;}

nav {background-color: red; width: 86%}
nav ul{margin: 5px; padding:0;}
nav ul li{
    list-style: none; float: left; margin: 0.5%; padding: 1%; background: yellow
}
nav ul li a{text-decoration: none; display: block; width: 100%}
nav ul li:hover{background: lightgreen;}

/* ul li:first-child{padding: 2%; background: yellow; width :10%; float: left; margin-left: 0px;}
ul li:nth-child(2){padding: 2%; background: yellow; width :12%; float: left;margin-left: 20px;}
ul li:nth-child(3){padding: 2%; background: yellow; width :10%; float: left;margin-left: 20px;}
ul li:nth-child(4){padding: 2%; background: yellow; width :12%; float: left;margin-left: 20px;}
.clear{clear : both;} */


section div:first-child{padding: 4%; background: blue; width:35%; float: left;}
section div:nth-child(2){padding: 4%; background: green; width: 35%; float: left;}
.clear{clear : both;}
footer{
    background-color: yellow;
    width:78%;
    padding:4%;
    margin:5px;
    margin-left: 0px;
}